<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>

<div class="message-board-container" ng-controller="MainCtrl">
  <div class="message-container" scroll-glue>
    <div class="message" ng-repeat="message in messages">
      <p class="username text-color-{{message.colorNumber}}" >{{message.name}}</p>
      <div class="message-content">
        <p>{{message.message}}</p>
      </div>
    </div>
  </div>
  <div class="input-container">
    <form ng-submit="send()">
      <p class="username">{{userHandle}}</p>
      <input type="text" placeholder="write your message here" ng-model="data.message">
      <button type="submit" class="success button">Send</button>
    </form>
  </div>
</div>
