<div >
  <div class="input-container">
    <form action="/signin" method="post">
      First name:<br>
      <input type="text" name="handle"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
