<div class="login-container">
  <form action="/signin" method="post">
    <input type="text" name="handle" placeholder="Choose your username" class="username-field">
    <div class="action-container">
    	<input type="submit" value="Enter" class="login-button button success">
  	</div>
  </form>
</div>
